body {	
	background-color: #DEDEDE;	
}

li.selectedTab {
	background-color: silver;
}

#hwTab ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
	
#hwTab li {
	display: inline;
	border: 1px solid;
	border-bottom-width: 0;
	margin: 0 0.5em 0 0;
}
	
#hwTab li a {
	padding: 0 1em;
}
	
#hwTab #selected {
	padding-bottom: 1px;
	background: white;
}

#pacman {	
  position:absolute;  
  left: 450px;
  right: 10px;
  width: 100px;  
  margin-top: 8px;
}