body {
	padding: 0px; 
	margin: 0px; 
	background: #554D49;
	font-family: Arial;
}

div, p, ul, h4, img {
	padding-top: 0px; 
	margin-top:0px;
	margin-bottom:0px; 
}

#mainContainer {
	background-color: #FFF4EB;
	border-radius: 15px;
	padding: 15px;
	width: 650px;
}

h2 {
	width:588px; 
	height:60px; 
	background:url(images/image1.gif) 250px 25px no-repeat #3C3633; 
	color:#D5D5D5; 
	line-height:60px;;
	padding-top: 10px;
	margin-top: 0px;
	padding-bottom: 0px;
	font-family: 'Cinzel';
	font-size: 50px;	
}

h3 {	
	padding-top: 10px;
	margin-top: 50px;
	padding-bottom: 0px;
	font-family: 'Cinzel';
	font-size: 20px;
	color: black;
	text-shadow: 1px 1px 1px #aaa;
}


/*
 * Homework styling 
 * 
 */

/* Slide menu */
#hwSlide {
	text-align: left;
	color: black;
	list-style: url(../images/forkBullet.gif);
}

.menuItem {
	cursor: pointer;
}

/* Tabs */
#hwTab {
	text-align: left;
	color: black;
}

#hwTab ul {
	list-style: none;
	padding: 0px;
	margin-bottom: -1px;
}
	
#hwTab li {
	display: inline;
	border: 1px solid #020304;
	background-color: 
	border-bottom-width: 0;
	margin: 0 0.5em 0 0;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
	
#hwTab #selected {
	padding-bottom: 0px;
	border: 1px solid #020304;
	background: white;	
}

#hwTab li.selectedTab {
	background-color: #BDCCFF;	
	border-bottom-width: 0px;	
}

#tabContent1 {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
#tabContent2 {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#tabContent3 {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

/* Animate */
#hwAnimate {
	text-align: left;
}

#pacman {	
  cursor: pointer;
  position:absolute;  
  left: 450px;
  right: 10px;
  width: 100px;  
  margin-top: 8px;
}

/* Accordion */
#hwAccordion {
	text-align: left;
	color: black;	
}

.accordionItem {
	background: #e2e2e2; /* Old browsers */
	background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

	border-radius: 15px;
	border: 1px black solid;
	cursor: pointer;
	
	padding: 5px 5px 5px 10px;
}

.accordionContent {
	padding: 10px;
	border-radius: 15px;
}


/* Others */
#mainbodytopPan{background:url(images/bodytopbg.png) 0 0 repeat-x #3B3532; color:#B6B6B6; margin:0 auto;}

#bodytopPan{width:588px; /*height:224px;*/ position:relative; margin:0 auto; padding:22px 95px 0;}
#bodytopPan p span.yellow{background:#3C3633; color:#FFD900;}

#mainbodyPan{background:url(images/bodybg.gif) 0 0 repeat-x #554D49; color:#B6B6B6; margin:0 auto;}

#bodyPan{width:588px; /*height:400px;*/ position:relative; margin:0 auto; padding:50px 95px 0;}

#bodyPan p.border{
	width: 588px; 
	height: 40px; 
	float: left; 
	display: block; 
	background: url(images/dot-line.gif) 0 20px repeat-x; 
	margin: 5px 0 0;
}

#footermainPan{
	height: 132px; 
	background: url(images/footerbg.gif) 0 0 repeat-x #24201E; 
	color: #fff; 
	font: 13px/20px "Trebuchet MS", Arial, Helvetica, sans-serif; 
	clear: both; 
	padding: 86px 0 0;
}

#footerPan{
	width: 588px; 
	position: relative; 
	margin: 0 auto;
}

#footerPan p.copyright{
	width: 250px; 
	position: relative; 
	margin: 0 auto;
}
